.allAssemblyComponents{
  display: flex;
}

.imageContainer_assemble {
  display: flex;
  border-left: 10px;
  border-top: 300px;
  background-color: rgba(211, 211, 211, .8);;
  max-width: 500px;
  min-width: 500px;
  flex-direction: column ;
  flex-wrap: wrap;
  position: relative;
  z-index: 99;
  margin: 50px;
  max-height: 700px;
  overflow: scroll;
  align-self: left;
}
#reset_button2{
  border: 2px;
  max-height:70px;
  justify-content: center !important;
}


.uploadedImage_toAssemble {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  position: fixed;
  border: 2px solid black;
  z-index: 999;
  
  justify-self: center;
}

.assemble {
  /* display: grid; */
  /* flex-wrap: wrap; */
  border-left: 100px;
  background-color:rgba(211, 211, 211, .8);;
  min-width: 500px;
  max-width: 500px;
  align-self: right !important;
  margin: 50px;
  margin-left: 100px;
  min-height: 700px;
}
#message_to_assemble{
  margin-left: 20px;
  margin-top: 20px;
  
}
#help {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  justify-self: center;
}

.assembling-page {
  display: flex;
}

 /* grid-template-rows: 1fr 1fr; */
