.input {
    display: none;
}

root {
    margin: 8px;
}

.uploadedImageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 15px;
    background-color: coral;
    max-width: 100%;
    margin: 50px;
    min-height: 300px;
}

.uploadedImage {
    max-width: 300px;
    max-height: 425px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    justify-self: center;
}



#modal{
    width: 50%;
    margin: auto;
}